/* Définition des polices */

@font-face {
    font-family: "Raleway";
    src: url(Polices/raleway/Raleway-Medium.ttf), url(Polices/raleway/Raleway-Thin.ttf), url(Polices/raleway/Raleway-Light.ttf);
}


/* Corps */

body {
    background: none;
    font-family: "Raleway";
    display: flex;
    flex-direction: column;
}

#bloc_page {
    max-width: 1440px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}


/* Header et navigation */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#navigation {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 20px;
}

nav a {
    font-size: 0.9em;
    color: #0065FC;
    padding-top: 3px;
    text-decoration: none;
}

.link_hbgmt a:hover,
.link_act a:hover,
.link_suscribe a:hover {
    border-top: 2px solid #0065FC;
    margin-bottom: 5px;
    padding-top: 20px;
}

.link_suscribe {
    font-weight: bold;
}

.logo img {
    width: 100px;
    height: auto;
}

.inscription {
    display: none;
}


/* ACCROCHES */

.accroche h2 {
    font-family: "Raleway";
    font-weight: bold;
    font-size: 1em;
}

.accroche h3 {
    font-family: "Raleway";
    font-size: 0.8em;
    font-weight: 100;
}


/* RECHERCHE */

.recherche_loc {
    display: flex;
    flex-direction: row;
    width: auto;
}

.icone_loc {
    background-color: #F2F2F2;
    height: 30px;
    width: 30px;
    border-radius: 10px 0 0 10px;
    padding: 1px;
    margin-right: 0.1px;
}

.fas.fa-map-marker-alt {
    position: relative;
    top: 5px;
    left: 10px;
}

.recherche {
    background-color: #0065FC;
    height: 30px;
    width: 100px;
    border-radius: 0 10px 10px 0;
    color: white;
    font-weight: bold;
}

.loupe {
    display: none;
}

input {
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5em;
    height: 30px;
    font-size: 12px;
}


/* FILTRES */

#filtres_section {
    display: flex;
    align-items: center;
    margin: 30px 0 30px 0;
}

.titre {
    display: flex;
    font-weight: bolder;
    margin-top: 20px;
    font-size: medium;
}

.filtres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filtres a {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    height: 30px;
    width: 200px;
    font-size: small;
    margin-top: 15px;
}

.icone_filtre {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 15px;
    flex-wrap: wrap;
}

.cercle_icone {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #DEEBFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 15px;
}

.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
    color: #0065FC;
}

#selection a:hover {
    background-color: #F2F2F2;
}


/* INFO */

.dispos {
    font-size: small;
    font-weight: 400;
}


/* hotel */

#ppal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

#hebergements {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.titre_hebergements {
    width: 100%;
    font-size: large;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.hebergement_marseille {
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    border-radius: 20px;
    max-width: 70%;
}

.hebergement_marseille p {
    margin-top: 5px;
}

.hotels {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
}

.cadre_img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: black;
}

.photo_hotel {
    object-fit: cover;
    width: 100%;
    height: 100px;
}

#hebergements figure {
    border: 5px solid white;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    margin: 10px;
}

#hebergements a {
    text-decoration: none;
}

.nom_hotel {
    font-weight: bolder;
    font-size: small;
    color: black;
}

.prix {
    font-size: small;
    color: black;
}

.fas.fa-star {
    color: #0065FC;
    font-size: small;
}

.fas.fa-star.star-grise {
    color: #F2F2F2;
    font-size: small;
}

.more {
    font-size: small;
    font-weight: bolder;
    margin-right: 30%;
}


/* POPULAIRES */

#plus_populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    max-width: 25%;
    border-radius: 20px;
    background-color: #F2F2F2;
}

#plus_populaires h2 {
    width: 100%;
    font-size: large;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.populaires {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#plus_populaires figure {
    border: 5px solid white;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
}

.cadre_img_pop {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 9em;
    color: black;
}

.photo_populaire {
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.populaires p {
    margin-left: 10px;
}

.nom_populaire {
    font-weight: bolder;
    font-size: small;
    margin-top: 20px;
    width: 130px;
}

.prix_pop {
    font-size: small;
}

.notation_pop {
    font-size: small;
    display: flex;
    flex-wrap: wrap;
}


/* ACTIVITES */

#activites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#activites h2 {
    max-width: 100%;
    font-size: large;
    font-weight: bold;
    padding-top: 20px;
    margin-right: 70%;
}

#activites a {
    text-decoration: none;
    color: black;
}

#activites figure {
    margin: 0;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #F2F2F2;
    overflow: hidden;
    background-color: white;
}

.activites_marseille {
    display: flex;
    margin-top: 20px;
    max-width: 100%;
}

.photo_activite1,
.photo_activite4 {
    height: 360px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.photo_activite2,
.photo_activite3,
.photo_activite5,
.photo_activite6 {
    width: 270px;
    object-fit: cover;
}

.photo_activite2 {
    height: 10em;
}

.photo_activite3 {
    height: 8em;
}

.photo_activite5 {
    height: 12em;
}

.photo_activite6 {
    height: 6em;
}

.nom_activite {
    margin-left: 10px;
    color: black;
    font-weight: bold;
    font-size: small;
    margin-top: 7px;
    margin-bottom: 10px;
}

.activite1,
.activite4 {
    height: 400px;
}

.activite2,
.activite3,
.activite5,
.activite6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 20%;
    width: 100%;
}

.activite23 {
    margin-right: 35px;
    margin-left: 35px;
}

.activite56 {
    margin-left: 35px;
}

.activite3 {
    margin-top: 35px;
}

.activite6 {
    margin-top: 35px;
}


/* TEXT DECORATIONS */

.hotels:hover,
.populaires:hover {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -o-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

.icone_filtre:hover {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -o-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

.activite1,
.activite2,
.activite3,
.activite4,
.activite5,
.activite6 {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}


/* FOOTER */

#footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-between;
    background-color: #F2F2F2;
    height: 240px;
    ;
    margin-top: 5em;
    box-sizing: border-box;
}

.apropos,
.noshebergements,
.assistance {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    height: 80%;
}

.apropos_liste {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    height: 50%;
}

.noshebergements_liste {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 40%;
    margin-top: 10px;
}

.assistance_liste {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 40%;
    margin-top: 10px;
}

.titre_apropos,
.titre_noshebergements,
.titre_assistance {
    font-weight: bold;
    font-size: large;
    margin-left: 40px;
    margin-top: 30px;
}