/* version tablette */

#bloc_page,
body
{
    max-width: 780px;
    margin-left: 10px;
}

.titre
{
    margin-bottom: 10px;
    margin-right: 100%;
}

.hebergement_marseille
{
    width: 770px;
    margin-bottom: 20px;
    margin-top: 20px;
    order: 2;
}

#plus_populaires
{
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    margin-top: 20px;
    width: 770px;
    padding-bottom: 20px;
    order: 1;
}

#plus_populaires h2
{
    margin-right: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hebergement_populaires
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#plus_populaires figure
{
    width: 220px;
    margin-right: 5px;
    margin-left: 20px;
}


#activites
{
    width: 770px;
    background-color: white;
    order: 3;
    margin: 0%;
    padding: 0;
}

.activites_marseille
{
    width: 100%;
    height: 1250px;
    display: flex;
    flex-direction: column;
}

.activites_marseille figure
{
    margin-top: 20px;
    height: 190px;
    justify-content: space-between;
}

.activite1,
.activite4
{
    height: 200px;
    margin-bottom: 20px;
}

.activite2,
.activite3,
.activite5
{
    margin-bottom: 20px;
}

.photo_activite1,
.photo_activite4,
.photo_activite2,
.photo_activite3,
.photo_activite5,
.photo_activite6
{
    width: 100%;
    height: 150px;
}

.activite23
{
    margin-right: 0px;
    margin-left: 0px;
}

.activite56
{
    margin-left: 0px;
}

.activite3
{
    margin-top: 0px;
}

.activite6
{
    margin-top: 0px;
}