/* Définition des polices */
@font-face 
{
    font-family: "Raleway";
    src: url(Polices/raleway/Raleway-Medium.ttf), url(Polices/raleway/Raleway-Thin.ttf), url(Polices/raleway/Raleway-Light.ttf);
}
/* Corps */
body
{
    background: none;
    font-family: "Raleway";
    display: flex;
    flex-direction: column;
}

#bloc_page
{
    width: 1200px;
    margin: auto;
}

/* Header et navigation */

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#navigation
{
    display: flex;
}

nav ul
{
    display: flex;
    list-style: none;
}

nav li
{
    margin-right: 20px;
}

nav a
{
    font-size: 0.9em;
    color: #0065FC;
    padding-top: 3px;
    text-decoration: none;
}

.link_hbgmt
{
    border-top: 2px solid #0065FC;
    margin-top: -1.5px;
}

.link_suscribe
{
    font-weight: bold;
}

.logo img
{
    width: 90px;
    height: auto;
}

/* ACCROCHES */

.accroche h2
{
    font-family: "Raleway";
    font-weight: bold;
    font-size: 1em;
}

.accroche h3
{
    font-family: "Raleway";
    font-size: 0.8em;
}

/* RECHERCHE */

.recherche_loc
{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    width: auto;
    min-width: 400px;
}

.icone_loc
{
    position: absolute;
    background-color: #F2F2F2;
    height: 30px;
    width: 30px;
    border-radius: 10px 0 0 10px;
    padding: 1px;
}

.fas.fa-map-marker-alt
{
    position: absolute;
    top: 25%;
    left: 25%;
}

.recherche
{
    background-color: #0065FC;
    height: 30px;
    width: 100px;
    border-radius: 0 10px 10px 0;
    color: white;
    font-weight: bold;
}

input
{
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 1.5em;
  height: 30px;
  font-size: 12px;
}

/* FILTRES */

#filtres_section
{
    display: flex;
    align-items: center;
    margin: 30px 0 30px 0;
}

.titre
{
    display: flex;
    margin: 0 20px 0 0;
    
}
.filtres
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filtres p
{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    height: 30px;
    width: 220px;
}

.icone_filtre
{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 20px;
    flex-wrap: wrap;
}

.cercle_icone
{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #DEEBFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 17px;
}

.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog
{
  color: #0065FC;
}

/* INFO */

h2
{
    font-size: small;
    font-weight: 400;
}
/* hotel */

#ppal
{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-content:space-between;
    max-width: 1200px;
}

#hebergements
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    margin-bottom: 10px;
}

.titre_hebergements
{
    width: 100%;
    font-size: large;
    font-weight: bold;
}

.hebergement_marseille
{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    border-radius: 20px;
    padding: 0px 0px 0px 40px;
    max-width: 750px;
}

.hotels
{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.photo_hotel
{
    object-fit: cover;
    width: 200px;
    height: 100px;
}

#hebergements figure
{
    border: 5px solid white;
    border-radius: 20px;
    overflow:hidden;
    background-color: white;
}

.prix_note
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fas.fa-star
{
 color: #0065FC;
}

.fas.fa-star.star-grise
{
 color: #F2F2F2;
}

/* POPULAIRES */

#plus_populaires
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content:space-around;
    width: 26em;
    border-radius: 20px;
    background-color: #F2F2F2;
}

.populaires
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cadre_img_pop
{
    border: 3px solid white;
    border-radius: 20px;
    padding: 5px 10px 10px 5px;
    background-color: white;
    max-width: 230px;
    margin-bottom: 25px;
}

.photo_populaire
{
    object-fit: cover;
    width: 200px;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.prix_pop
{
    padding: 7px 0px 7px 20px;
    display: flex;
    flex-direction: column;
}

.notation_pop
{
    padding: 7px 0px 7px 20px;
    display: flex;

}

/* ACTIVITES */

#activites
{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
    max-width: 1200px;
}
#activites h2
{
    margin-bottom: 25px;
}

.activites_marseille
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.activite23,
.activite56
{
    display: flex;
    flex-direction: column;
}

.activite1,
.activite2,
.activite3,
.activite4,
.activite5,
.activite6 {
    box-shadow: 10px 0 #0000002e;
    padding: px 0px 40px 0px;
    border-radius: 20px;
    margin: 20px 20px 20px 20px;
}

.photo_activite1,
.photo_activite2,
.photo_activite3,
.photo_activite4,
.photo_activite5,
.photo_activite6
{
    object-fit: cover;
    background-size: 100% 100%;
    padding: 10px 0px 22px 0px;
    border-radius: 20px 20px 20px 20px;
}

.photo_activite1,
.photo_activite4
{
    height: 400px;
    width: 300px;
    
}

.photo_activite2,
.photo_activite6
{
    height: 100px;
    width: 300px;
}

.photo_activite3,
.photo_activite5
{
    height: 100px;
    width: 300px;
}
.activite1,
.activite4
{
    height: 400px;
    width: 100px;
}

.activite2,
.activite3,
.activite5,
.activite6
{
    height: 200px;
    width: 100px;
}